<div class="element-left">
  <div class="element-bg-img">
    <img [src]="selectedHotel.img" alt="" class="img-responsive"> </div>

  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li>
          <a href="#" (click)="setSearchTerm('Hotel')" (click)="updateSelectedHotel()" (click)="onSelectHotel(selectedHotel)">Hotel</a>
        </li>
        <li>
          <a href="#" (click)="setSearchTerm('Fishing')" (click)="updateSelectedHotel()" (click)="onSelectHotel(selectedHotel)">Fishing</a>
        </li>
        <li>
          <a href="#" (click)="setSearchTerm('Tours')" (click)="updateSelectedHotel()" (click)="onSelectHotel(selectedHotel)">Tours</a>
        </li>
        <li class="anc-bor">
          <a href="#" (click)="setSearchTerm('Weather')" (click)="updateSelectedHotel()" (click)="onSelectHotel(selectedHotel)">Weather</a>
        </li>
      </ul>
    </div>
    <div class="village">
      <h3>Righteous indignation & like</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div class="activity-row" *ngFor="let hotel of hotelList | hotelFilter:searchTerm" (click)="onSelectHotel(hotel)" [ngClass]="{selected_activity_box: (hotel === selectedHotel)}">
            <div class="activity-desc">
              <h5>Resort Address</h5>
              <p>Sed perspiciatis</p>
              <p>Et harum quidem</p>
              <h6>{{hotel.phone | phoneNumber:hotel.phone}}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li *ngFor="let hotelImg of hotel.small_img">
                  <img [src]='hotelImg' alt="" />
                </li>
              </ul>
            </div>
            <div class="clear"> </div>
          </div>
        </div>
      </div>
    </div>